 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 15px;
} .u-section-2 {
  background-image: linear-gradient(#f1c50e, #f1ea0e);
}

.u-section-2 .u-sheet-1 {
  min-height: 446px;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 0 595px;
  padding: 23px 47px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -76px auto 60px 312px;
  padding: 23px 64px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 480px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 324px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 296px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 287px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: currentcolor !important;
  margin: 20px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: currentcolor !important;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 237px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 545px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}